<div class="header">
    <div class="rocketxicon">
        icon
    </div>
    <div class="left-container">
        <ul class="navigation white">
            <li>
                <a href="#">ROCKETX</a>
                <i class='arrow'></i>
            </li>
            <li>
                <a href="#">REFFERAL</a>
            
            </li>
            <li>
                <a href="#">MORE</a>
                <i class='arrow'></i>
            </li>
        </ul>
        <!-- <ul class="links">
            <li>
              <a href="#">ROCKETX</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
            </li>
            <li><a href="#">REFFERAL</a></li>
            <li>         
              <a href="#">MORE</a>
              <i class='bx bxs-chevron-down js-arrow arrow'></i>        
            </li>          
          </ul> -->
        <div class="button">
            <a href="https://app.rocketx.exchange/swap/ETHEREUM.ethereum/ETHEREUM.rocketx/1" target="_blank" rel="noopener noreferrer"><div class="buy-rvf font-bold">
                Buy RVF
                </div></a>
            <a href="https://app.rocketx.exchange/swap" target="_blank" rel="noopener noreferrer"><div class="launch-app font-bold">
                Launch App
            </div></a>
        </div>
        
    </div>
    <div class="mobile-menu-button"></div>
</div>
