<div class="cardLayout">

        <div class="image">
          <img src={{card.icon}}/>
        </div>
        <div >
                <div class="cardHeading">{{card.name}}</div>
                <div class="cardContent">{{card.content}}</div>
        </div>
</div>
<div class="mobileView"> 
    <div class=" mobileHeader">
        <img class="image" src={{card.icon}}/>
        <span class="card-subheading" >{{card.name}}</span>
      </div>
      <div >
        <div class="cardContent">{{card.content}}</div>
     </div>
</div>