<div class="content-container">
    <div class="gradient-text text-center">
        Our Mission
    </div>
    <div class="white sub-title text-center">
        To simplify crypto swaps for everyone
    </div>
    <div class="description">
                <app-description [content]="content"></app-description>
                <app-description [content]="content2"></app-description>
    </div>
    <div class="mobile-padding" style="margin-top:14rem; margin-bottom:3rem;" >
        <div class="gradient-text mobilecenter">
            Our 
        </div>
        <div class="ecosystem">
         Ecosystem
        </div>

    </div>
    <app-card-container></app-card-container>
    <!-- <div class="mini-content text-center">
        {{content}}
    </div>
    <div class="mini-content text-center">
        {{content2}}
    </div> -->
</div>
