/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@media only screen and (max-width: 650px){
 .gradient-text{
    font-size: 30px !important;
    line-height: 50px !important;
 }
}
body{ 
    background: linear-gradient(101.61deg, #00000E 30.87%, #010D1A 44.68%, #231322 70.18%, #000009 92.3%);
    margin: 0px;
    font-family: 'DM Sans';
    font-style: normal;
}
.text-center{
    text-align: center;
}

.white{
    color: #DEDEDE;
}
.gradient-text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 104px;
    letter-spacing: 0.05em;
    
    background: linear-gradient(180deg, #8883DB 0%, rgba(136, 131, 219, 0.25) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}